fanvue-social-media-post.json
{
  "name": "Social Media Auto Post via Blotato",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1024,
        320
      ],
      "id": "sm-schedule-trigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-media-auto-post",
        "options": {}
      },
      "id": "sm-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1024,
        128
      ],
      "webhookId": "social-media-auto-post-wh"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        512
      ],
      "id": "sm-manual-trigger",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "id": "sm-check-random-schedule",
      "name": "Check Random Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -804,
        320
      ],
      "parameters": {
        "jsCode": "// 1-2 random posts per day, hours 10-20\nconst today = new Date();\nconst seed = today.getFullYear() * 10000 + (today.getMonth() + 1) * 100 + today.getDate();\n\nfunction seededRandom(s) {\n  const x = Math.sin(s) * 10000;\n  return x - Math.floor(x);\n}\n\n// Random number of posts: 1 or 2\nconst numPosts = 1 + Math.floor(seededRandom(seed * 13) * 2);\n\n// Generate unique hours between 10-20\nconst hours = new Set();\nlet i = 0;\nwhile (hours.size < numPosts && i < 100) {\n  const hour = 10 + Math.floor(seededRandom(seed + i + 500) * 11);\n  hours.add(hour);\n  i++;\n}\n\nconst currentHour = today.getHours();\nconst scheduledHours = Array.from(hours).sort((a, b) => a - b);\n\nconsole.log(`Today: ${numPosts} social posts at hours: ${scheduledHours.join(', ')}`);\nconsole.log(`Current hour: ${currentHour}`);\n\nif (scheduledHours.includes(currentHour)) {\n  const waitMinutes = Math.floor(seededRandom(seed + currentHour * 200) * 55);\n  console.log(`Active! Waiting ${waitMinutes} minutes before posting`);\n  \n  return [{\n    json: {\n      scheduledHours,\n      currentHour,\n      waitMinutes,\n      numPostsToday: numPosts,\n      expectedPostTime: `${currentHour}:${waitMinutes.toString().padStart(2, '0')}`,\n      shouldRun: true\n    }\n  }];\n}\n\nconsole.log('Skipping - not a scheduled hour');\nreturn [];"
      }
    },
    {
      "id": "sm-wait-random-minutes",
      "name": "Wait Random Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -584,
        320
      ],
      "parameters": {
        "unit": "minutes",
        "amount": "={{ $json.waitMinutes }}"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "name",
          "value": "media_catalog"
        },
        "returnAll": true
      },
      "id": "sm-get-available-media",
      "name": "Get Available Media",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -364,
        320
      ]
    },
    {
      "id": "sm-select-social-content",
      "name": "Select Social Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        320
      ],
      "parameters": {
        "jsCode": "// Get all available media from table\nconst allMedia = $input.all();\n\n// Filter: source_folder === 'socialmedia', not yet posted (images + videos)\nconst available = allMedia.filter(item => {\n  const sf = item.json.source_folder;\n  const posted = item.json.added_to_social_media;\n  return sf === 'socialmedia' && posted === false;\n});\n\nif (available.length === 0) {\n  throw new Error('No available social media content found (all already posted or none in socialmedia folder)');\n}\n\n// Select random file\nconst randomIndex = Math.floor(Math.random() * available.length);\nconst selected = available[randomIndex];\n\nconst filePath = selected.json.file_path;\nconst fileName = filePath.split('/').pop();\nconst ext = fileName.toLowerCase().slice(fileName.lastIndexOf('.'));\nconst isVideo = ['.mp4', '.mov', '.avi', '.mkv', '.webm'].includes(ext);\n\n// Use description_social, fallback to generic\nlet caption = selected.json.description_social;\nif (!caption || caption.trim().length < 5) {\n  caption = '';\n}\n\nreturn [{\n  json: {\n    id: selected.json.id,\n    selectedPath: selected.json.file_path,\n    fileName: fileName,\n    description_social: caption,\n    source_folder: selected.json.source_folder,\n    isVideo: isVideo,\n    totalAvailable: available.length,\n    selectedIndex: randomIndex\n  }\n}];"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "name",
          "value": "media_catalog"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Select Social Content').first().json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "added_to_social_media": true
          }
        },
        "options": {}
      },
      "id": "sm-mark-in-progress",
      "name": "Mark In Progress",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        76,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropboxapi.com/2/files/get_temporary_link",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "dropboxOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: $('Select Social Content').first().json.selectedPath }) }}",
        "options": {}
      },
      "id": "sm-get-shared-link",
      "name": "Get Shared Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        296,
        320
      ],
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "q75pCshTYJzFnnyn",
          "name": "Dropbox account"
        }
      }
    },
    {
      "id": "sm-prepare-captions",
      "name": "Prepare Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        516,
        320
      ],
      "parameters": {
        "jsCode": "const selectedData = $('Select Social Content').first().json;\nconst linkData = $input.first().json;\n\n// get_temporary_link returns direct download URL in 'link' field\nconst imageUrl = linkData.link || '';\nconst isVideo = selectedData.isVideo;\n\n// Use description_social from media_catalog\nlet caption = selectedData.description_social;\n\n// Fallback SFW captions if empty\nif (!caption || caption.trim().length < 5) {\n  const fallbackCaptions = [\n    'New day, new vibes! How are you doing today? \\u2728 #mood #vibes',\n    'Just me being me. Hope your day is as beautiful as you are! \\u{1F496} #selfie #beauty',\n    'Good things take time. Enjoying every moment! \\u2728 #lifestyle #happy',\n    'Smile more, worry less. Life is too short! \\u{1F60A} #positivity #smile',\n    'Another beautiful day, another reason to be grateful! \\u2728 #blessed #grateful'\n  ];\n  caption = fallbackCaptions[Math.floor(Math.random() * fallbackCaptions.length)];\n}\n\n// Twitter: max 280 chars - strip hashtags if too long\nlet twitterCaption = caption;\nif (twitterCaption.length > 280) {\n  twitterCaption = twitterCaption.replace(/#\\w+/g, '').trim();\n  if (twitterCaption.length > 280) {\n    twitterCaption = twitterCaption.substring(0, 277) + '...';\n  }\n}\n\n// Build Instagram request body\nconst igTarget = { targetType: 'instagram' };\nif (isVideo) {\n  igTarget.mediaType = 'reel';\n}\nconst igRequestBody = JSON.stringify({\n  post: {\n    accountId: '16266',\n    content: {\n      text: caption,\n      mediaUrls: [imageUrl],\n      platform: 'instagram'\n    },\n    target: igTarget\n  }\n});\n\n// Build Twitter request body\nconst twitterRequestBody = JSON.stringify({\n  post: {\n    accountId: '7739',\n    content: {\n      text: twitterCaption,\n      mediaUrls: [imageUrl],\n      platform: 'twitter'\n    },\n    target: {\n      targetType: 'twitter'\n    }\n  }\n});\n\nreturn [{\n  json: {\n    image_url: imageUrl,\n    ig_caption: caption,\n    twitter_caption: twitterCaption,\n    ig_request_body: igRequestBody,\n    twitter_request_body: twitterRequestBody,\n    file_name: selectedData.fileName,\n    file_path: selectedData.selectedPath,\n    media_id: selectedData.id,\n    is_video: isVideo,\n    media_type: isVideo ? 'video (reel)' : 'image',\n    total_remaining: selectedData.totalAvailable - 1\n  }\n}];"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "YOUR_BLOTATO_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.ig_request_body }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "sm-post-instagram",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "YOUR_BLOTATO_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Prepare Captions').first().json.twitter_request_body }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "sm-post-twitter",
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        956,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sendTo": "marcinjarosz@icloud.com",
        "subject": "=Social Media Posted - {{ $('Prepare Captions').first().json.file_name }} (IG + X)",
        "emailType": "html",
        "message": "=<h2>Social Media Posts Published via Blotato!</h2><table style=\"border-collapse: collapse; width: 100%;\">\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>File</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Prepare Captions').first().json.file_name }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Type</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Prepare Captions').first().json.media_type }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Platforms</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">Instagram (@juwellia4) + Twitter/X (@juwellia4)</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>IG Caption</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Prepare Captions').first().json.ig_caption }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Twitter Caption</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Prepare Captions').first().json.twitter_caption }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>IG Post ID</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Post to Instagram').first().json.postSubmissionId || 'N/A' }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Twitter Post ID</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.postSubmissionId || 'N/A' }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Time</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ new Date().toLocaleString('pl-PL') }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Media Left</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Prepare Captions').first().json.total_remaining }}</td></tr>\n</table>\n{{ $('Prepare Captions').first().json.total_remaining < 10 ? '<div style=\"margin-top: 12px; padding: 12px; background: #ffcccc; border: 2px solid #cc0000; border-radius: 8px; text-align: center;\"><strong style=\"color: #cc0000; font-size: 16px;\">LOW CONTENT WARNING</strong><br>Only <strong>' + $('Prepare Captions').first().json.total_remaining + '</strong> social media files remaining! Add more content to Dropbox and run media catalog sync.</div>' : '' }}",
        "options": {}
      },
      "id": "sm-send-success-email",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1396,
        320
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "vegX3gKBXTfZVtRg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "sm-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -364,
        640
      ]
    },
    {
      "parameters": {
        "sendTo": "marcinjarosz@icloud.com",
        "subject": "=SOCIAL MEDIA ERROR - {{ $json.workflow.name }} - {{ $json.execution.lastNodeExecuted }}",
        "emailType": "html",
        "message": "=<h2 style=\"color: red;\">Social Media Workflow Error!</h2><table style=\"border-collapse: collapse; width: 100%;\">\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Workflow</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.workflow.name }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Failed Node</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.execution.lastNodeExecuted }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Error</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.execution.error.message }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Execution ID</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.execution.id }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Time</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ new Date().toLocaleString('pl-PL') }}</td></tr>\n</table>",
        "options": {}
      },
      "id": "sm-send-error-email",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -144,
        640
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "vegX3gKBXTfZVtRg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Social Media Auto Post via Blotato\n\nPublikuje zdjecia i filmy z folderu socialmedia na Instagram + Twitter/X przez Blotato API\n\n### Jak dziala:\n1. Schedule 1-2 posty dziennie (10-20h)\n2. Losuje media z media_catalog (source_folder=socialmedia)\n3. Oznacza jako posted (added_to_social_media=true)\n4. Pobiera temporary link z Dropboxa\n5. Publikuje na Instagram (zdjecia jako post, filmy jako reel)\n6. Publikuje na Twitter/X\n7. Wysyla email z potwierdzeniem\n\n### Konta Blotato:\n- Instagram: @juwellia4 (ID: 16266)\n- Twitter/X: @juwellia4 (ID: 7739)"
      },
      "id": "sm-sticky-instructions",
      "name": "Instrukcje",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        -100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "mode": "name",
          "value": "post_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_name": "={{ $('Prepare Captions').first().json.file_name }}",
            "caption": "={{ $('Prepare Captions').first().json.ig_caption }}",
            "caption_source": "social_media_blotato",
            "media_type": "={{ $('Prepare Captions').first().json.media_type }}",
            "audience": "public",
            "ppv_price": "0",
            "fanvue_post_id": "={{ 'IG:' + $('Post to Instagram').first().json.postSubmissionId + ' | X:' + $('Post to Twitter').first().json.postSubmissionId }}",
            "published_at": "={{ new Date().toISOString() }}",
            "source_folder": "socialmedia"
          }
        },
        "options": {}
      },
      "id": "sm-log-post-history",
      "name": "Log to Post History",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1176,
        320
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Random Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Available Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get Available Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Random Schedule": {
      "main": [
        [
          {
            "node": "Wait Random Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Random Minutes": {
      "main": [
        [
          {
            "node": "Get Available Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Available Media": {
      "main": [
        [
          {
            "node": "Select Social Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Social Content": {
      "main": [
        [
          {
            "node": "Mark In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark In Progress": {
      "main": [
        [
          {
            "node": "Get Shared Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shared Link": {
      "main": [
        [
          {
            "node": "Prepare Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Captions": {
      "main": [
        [
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Post to Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Twitter": {
      "main": [
        [
          {
            "node": "Log to Post History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Post History": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
