fanvue-auto-post-v2.json
{
  "name": "Fanvue Auto Post v2 - Enhanced",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1024,
        320
      ],
      "id": "schedule-trigger-v2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fanvue-auto-post-v2",
        "options": {}
      },
      "id": "webhook-trigger-v2",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1024,
        128
      ],
      "webhookId": "fanvue-auto-post-v2-wh"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        512
      ],
      "id": "manual-trigger-v2",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "id": "check-random-schedule-v2",
      "name": "Check Random Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -804,
        320
      ],
      "parameters": {
        "jsCode": "// 2-4 random posts per day, hours 9-21\nconst today = new Date();\nconst seed = today.getFullYear() * 10000 + (today.getMonth() + 1) * 100 + today.getDate();\n\nfunction seededRandom(s) {\n  const x = Math.sin(s) * 10000;\n  return x - Math.floor(x);\n}\n\n// Random number of posts: 2, 3, or 4\nconst numPosts = 2 + Math.floor(seededRandom(seed * 7) * 3);\n\n// Generate unique hours between 9-21\nconst hours = new Set();\nlet i = 0;\nwhile (hours.size < numPosts && i < 100) {\n  const hour = 9 + Math.floor(seededRandom(seed + i) * 13);\n  hours.add(hour);\n  i++;\n}\n\nconst currentHour = today.getHours();\nconst scheduledHours = Array.from(hours).sort((a, b) => a - b);\n\nconsole.log(`Today: ${numPosts} posts at hours: ${scheduledHours.join(', ')}`);\nconsole.log(`Current hour: ${currentHour}`);\n\nif (scheduledHours.includes(currentHour)) {\n  const waitMinutes = Math.floor(seededRandom(seed + currentHour * 100) * 55);\n  console.log(`Active! Waiting ${waitMinutes} minutes before posting`);\n  \n  return [{\n    json: {\n      scheduledHours,\n      currentHour,\n      waitMinutes,\n      numPostsToday: numPosts,\n      expectedPostTime: `${currentHour}:${waitMinutes.toString().padStart(2, '0')}`,\n      shouldRun: true\n    }\n  }];\n}\n\nconsole.log('Skipping - not a scheduled hour');\nreturn [];"
      }
    },
    {
      "id": "wait-random-minutes-v2",
      "name": "Wait Random Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -584,
        320
      ],
      "parameters": {
        "unit": "minutes",
        "amount": "={{ $json.waitMinutes }}"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "name",
          "value": "media_catalog"
        },
        "returnAll": true
      },
      "id": "get-available-media-v2",
      "name": "Get Available Media",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -364,
        320
      ]
    },
    {
      "id": "select-random-file-v2",
      "name": "Select Random File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        320
      ],
      "parameters": {
        "jsCode": "// Get all available media from table\nconst allMedia = $input.all();\n\n// Filter only items where added_to_fanvue is false\nconst availableMedia = allMedia.filter(item => {\n  if (item.json.hasOwnProperty('added_to_fanvue')) {\n    return item.json.added_to_fanvue === false;\n  }\n  return item.json.added_to_social_media === false;\n});\n\nif (availableMedia.length === 0) {\n  throw new Error('No available media found in the catalog (all already posted to Fanvue)');\n}\n\n// Select random file\nconst randomIndex = Math.floor(Math.random() * availableMedia.length);\nconst selectedMedia = availableMedia[randomIndex];\n\n// Fallback descriptions for when OpenAI refused\nconst fallbackDescriptions = [\n  \"Hey loves! How's your day going? Mine just got better seeing you here \\ud83d\\udc95\\ud83d\\udd25\",\n  \"Just thinking about you... wanna keep me company tonight? \\ud83d\\udc8b\\ud83d\\ude0f\",\n  \"Something special just for my favorite subscribers \\ud83d\\udc95 You deserve it!\",\n  \"Miss me? Because I definitely miss you \\ud83d\\ude18\\ud83d\\udc8b\",\n  \"Guess what I've been up to today? \\ud83d\\ude0f\\ud83d\\udd25 Hint: it involves you...\",\n  \"Hey baby, this one's just for you \\ud83d\\udc95 Hope it makes your day better!\",\n  \"Feeling a little naughty today... care to join me? \\ud83d\\ude08\\ud83d\\udc8b\",\n  \"You're the reason I smile \\ud83d\\udc95 Thank you for being here with me!\",\n  \"What would you do if you were here with me right now? \\ud83d\\ude0f\\ud83d\\udd25\",\n  \"Just wanted to share this moment with you \\ud83d\\udc8b You're special to me!\",\n  \"Good morning/evening beautiful people! \\ud83d\\udc95 How's everyone doing?\",\n  \"Made this just for you baby \\ud83d\\udd25 Hope you like it as much as I do!\",\n  \"Thinking about all my amazing fans right now \\ud83d\\udc95 You guys are the best!\",\n  \"Wanna see more? Let me know in the comments \\ud83d\\ude18\\ud83d\\udc8b\",\n  \"Can't stop thinking about you today \\ud83d\\udc95 Is that weird? \\ud83d\\ude0f\"\n];\n\n// Check if description is an OpenAI refusal\nfunction isRefusal(text) {\n  if (!text) return true;\n  const lower = text.toLowerCase();\n  return lower.includes(\"i'm sorry\") || \n         lower.includes(\"i can't\") || \n         lower.includes(\"i cannot\") ||\n         lower.includes(\"unable to\") ||\n         lower.includes(\"i'm unable\") ||\n         text.length < 10;\n}\n\n// Get description or use fallback\nlet description = selectedMedia.json.description_fanvue;\nif (isRefusal(description)) {\n  description = fallbackDescriptions[Math.floor(Math.random() * fallbackDescriptions.length)];\n}\n\n// Determine media type from file extension\nconst filePath = selectedMedia.json.file_path;\nconst ext = filePath.toLowerCase().slice(filePath.lastIndexOf('.'));\nconst isVideo = ['.mp4', '.mov', '.avi', '.mkv', '.webm'].includes(ext);\n\n// PPV: videos are always PPV, dynamic pricing\nconst isPPV = isVideo;\nconst now = new Date();\nconst dayOfWeek = now.getDay(); // 0=Sun, 6=Sat\nconst hour = now.getHours();\nconst isWeekend = dayOfWeek === 0 || dayOfWeek === 6;\nconst isEvening = hour >= 18 && hour <= 21;\nlet ppvPrice = isWeekend ? 6.99 : 4.99;\nif (isEvening) ppvPrice += 1.00;\n\nreturn [{\n  json: {\n    id: selectedMedia.json.id,\n    selectedPath: selectedMedia.json.file_path,\n    fileName: filePath.split('/').pop(),\n    mediaType: isVideo ? 'video' : 'image',\n    description_fanvue: description,\n    description_social: selectedMedia.json.description_social,\n    source_folder: selectedMedia.json.source_folder,\n    isPPV: isPPV,\n    ppvPrice: isPPV ? ppvPrice : 0,\n    totalAvailable: availableMedia.length,\n    selectedIndex: randomIndex\n  }\n}];"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "name",
          "value": "media_catalog"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Select Random File').first().json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "added_to_fanvue": true
          }
        },
        "options": {}
      },
      "id": "mark-in-progress-v2",
      "name": "Mark In Progress",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        76,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "={{ $('Select Random File').first().json.selectedPath }}"
      },
      "id": "dropbox-download-v2",
      "name": "Download Selected File",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        296,
        320
      ],
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "q75pCshTYJzFnnyn",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.fanvue.com/users/me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fvApiOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Fanvue-API-Version",
              "value": "2025-06-26"
            }
          ]
        },
        "options": {}
      },
      "id": "fanvue-user-v2",
      "name": "Get Current User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        516,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "fvApiOAuth2Api": {
          "id": "UlQSch6OjFviZA1T",
          "name": "Fv Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const currentUser = $input.first().json;\nconst selectedFileData = $('Select Random File').first().json;\nconst downloadedFile = $('Download Selected File').first();\n\n// Validate user is a creator\nif (!currentUser.isCreator) {\n  throw new Error('This account is not a creator account');\n}\n\nif (!currentUser.uuid) {\n  throw new Error('Could not get user UUID');\n}\n\n// Use description_fanvue from the media catalog table\nconst description = selectedFileData.description_fanvue || 'Check out my new post! \\ud83d\\udc8b\\ud83d\\udd25';\n\nreturn [{\n  json: {\n    creatorUuid: currentUser.uuid,\n    aiDescription: description.trim(),\n    fileName: selectedFileData.fileName,\n    mediaType: selectedFileData.mediaType,\n    mediaId: selectedFileData.id,\n    isPPV: selectedFileData.isPPV,\n    ppvPrice: selectedFileData.ppvPrice\n  },\n  binary: downloadedFile.binary\n}];"
      },
      "id": "prepare-upload-v2",
      "name": "Prepare Upload Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fanvue.com/media/uploads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fvApiOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Fanvue-API-Version",
              "value": "2025-06-26"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"name\": $json.fileName, \"filename\": $json.fileName, \"mediaType\": $json.mediaType } }}",
        "options": {}
      },
      "id": "create-upload-session-v2",
      "name": "Create Upload Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2056,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "fvApiOAuth2Api": {
          "id": "UlQSch6OjFviZA1T",
          "name": "Fv Api account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.fanvue.com/media/uploads/{{ $json.uploadId }}/parts/1/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fvApiOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Fanvue-API-Version",
              "value": "2025-06-26"
            }
          ]
        },
        "options": {}
      },
      "id": "get-upload-url-v2",
      "name": "Get Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2276,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "fvApiOAuth2Api": {
          "id": "UlQSch6OjFviZA1T",
          "name": "Fv Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get URL from previous node\nconst urlResponse = $input.first().json;\n\nlet uploadUrl;\nif (typeof urlResponse === 'string') {\n  uploadUrl = urlResponse;\n} else if (urlResponse.data) {\n  uploadUrl = urlResponse.data;\n} else {\n  uploadUrl = JSON.stringify(urlResponse);\n}\n\n// Get binary data from Prepare Upload Data node\nconst binaryData = $('Prepare Upload Data').first().binary;\n\n// Get upload session info for later use\nconst uploadSession = $('Create Upload Session').first().json;\n\nreturn [{\n  json: {\n    url: uploadUrl,\n    mediaUuid: uploadSession.mediaUuid,\n    uploadId: uploadSession.uploadId\n  },\n  binary: binaryData\n}];"
      },
      "id": "prepare-s3-upload-v2",
      "name": "Prepare S3 Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        320
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.url }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "upload-to-s3-v2",
      "name": "Upload to S3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2716,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.fanvue.com/media/uploads/{{ $('Create Upload Session').item.json.uploadId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fvApiOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Fanvue-API-Version",
              "value": "2025-06-26"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"parts\": [{\"ETag\": $json.headers.etag, \"PartNumber\": 1}] } }}",
        "options": {}
      },
      "id": "complete-upload-v2",
      "name": "Complete Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2936,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "fvApiOAuth2Api": {
          "id": "UlQSch6OjFviZA1T",
          "name": "Fv Api account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "wait-processing-v2",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3156,
        320
      ],
      "webhookId": "wait-processing-v2-wh"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fanvue.com/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fvApiOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Fanvue-API-Version",
              "value": "2025-06-26"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.assign({ \"text\": $('Apply AI Caption').item.json.aiDescription, \"mediaUuids\": [$('Create Upload Session').item.json.mediaUuid], \"audience\": $('Apply AI Caption').item.json.isPPV ? \"everyone\" : \"followers-and-subscribers\" }, $('Apply AI Caption').item.json.isPPV ? { \"price\": $('Apply AI Caption').item.json.ppvPrice } : {}) }}",
        "options": {}
      },
      "id": "create-post-v2",
      "name": "Create Fanvue Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3376,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "credentials": {
        "fvApiOAuth2Api": {
          "id": "UlQSch6OjFviZA1T",
          "name": "Fv Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "name",
          "value": "media_catalog"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Select Random File').first().json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "added_to_fanvue": true
          }
        },
        "options": {}
      },
      "id": "update-media-status-v2",
      "name": "Update Media Status",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4476,
        320
      ]
    },
    {
      "parameters": {
        "sendTo": "marcinjarosz@icloud.com",
        "subject": "=Fanvue Post Published {{ $('Apply AI Caption').item.json.isPPV ? '[PPV]' : '[FREE]' }} - {{ $('Apply AI Caption').item.json.fileName }}",
        "emailType": "html",
        "message": "=<h2>Post Published Successfully!</h2><table style=\"border-collapse: collapse; width: 100%;\">\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>File</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Apply AI Caption').item.json.fileName }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Type</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Apply AI Caption').item.json.mediaType }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>PPV</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Apply AI Caption').item.json.isPPV ? 'Yes - $' + $('Apply AI Caption').item.json.ppvPrice : 'No - Free' }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Caption</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Apply AI Caption').item.json.aiDescription }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Audience</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Apply AI Caption').item.json.isPPV ? 'everyone' : 'followers-and-subscribers' }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Time</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ new Date().toLocaleString('pl-PL') }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Media Left</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Select Random File').first().json.totalAvailable - 1 }}</td></tr>\n</table>\n{{ $('Select Random File').first().json.totalAvailable - 1 < 10 ? '<div style=\"margin-top: 12px; padding: 12px; background: #ffcccc; border: 2px solid #cc0000; border-radius: 8px; text-align: center;\"><strong style=\"color: #cc0000; font-size: 16px;\">LOW CONTENT WARNING</strong><br>Only <strong>' + ($('Select Random File').first().json.totalAvailable - 1) + '</strong> media files remaining! Add more content to Dropbox and run media catalog sync.</div>' : '' }}",
        "options": {}
      },
      "id": "send-success-email-v2",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4696,
        320
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "vegX3gKBXTfZVtRg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "error-trigger-v2",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -364,
        640
      ]
    },
    {
      "parameters": {
        "sendTo": "marcinjarosz@icloud.com",
        "subject": "=FANVUE ERROR - {{ $json.workflow.name }} - {{ $json.execution.lastNodeExecuted }}",
        "emailType": "html",
        "message": "=<h2 style=\"color: red;\">Workflow Error!</h2><table style=\"border-collapse: collapse; width: 100%;\">\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Workflow</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.workflow.name }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Failed Node</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.execution.lastNodeExecuted }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Error</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.execution.error.message }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Execution ID</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $json.execution.id }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Time</strong></td><td style=\"padding: 8px; border: 1px solid #ddd;\">{{ new Date().toLocaleString('pl-PL') }}</td></tr>\n</table>\n<p><strong>Note:</strong> If the error occurred after media selection, the media item may be marked as posted in media_catalog even though the post was not created. Check and revert manually if needed.</p>",
        "options": {}
      },
      "id": "send-error-email-v2",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -144,
        640
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "vegX3gKBXTfZVtRg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Fanvue Auto Post v2 - Enhanced\n\n### Co nowego w v2:\n1. **Error handling** - retry na HTTP nodach + email o bledach\n2. **Powiadomienia Gmail** - email po kazdym poscie\n3. **Ochrona duplikatow** - media oznaczane natychmiast po wyborze\n4. **Schedule 2-4 posty/dzien** - losowa liczba, godziny 9-21\n5. **PPV dla wideo** - filmy automatycznie jako PPV ($4.99)\n\n### KONFIGURACJA (zrob przed aktywacja!):\n1. Ustaw credentials Gmail OAuth2 w obu nodach email\n2. Zmien YOUR_EMAIL@gmail.com na swoj adres\n3. Ustaw credentials Dropbox OAuth2\n4. Sprawdz ze tabela media_catalog istnieje\n5. Opcjonalnie: zmien ppvPrice w kodzie Select Random File"
      },
      "id": "sticky-instructions-v2",
      "name": "Instrukcje v2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        -100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Error Handling\n\n- HTTP nodes: auto-retry 3x z 5-10s delay\n- Global Error Trigger: email z detalami bledu\n- Media oznaczane jako posted PRZED uploadem\n  (zapobiega duplikatom, ale wymaga recznego\n  odznaczenia jesli workflow padnie)"
      },
      "id": "sticky-errors-v2",
      "name": "Error Handling Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -564,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-image",
              "leftValue": "={{ $json.mediaType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-image-check-v2",
      "name": "Is Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        956,
        320
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "responses": {
          "values": [
            {
              "content": "You are a popular content creator writing a caption for your Fanvue post. Write a short, flirty, engaging caption (1-3 sentences max).\n\nRules:\n- Sound authentic and personal, like talking directly to a fan\n- Be playful, confident, and a little teasing\n- Use 2-3 emojis naturally\n- Create curiosity and engagement\n- Do NOT describe or reference what is in the image\n- Do NOT use hashtags\n- Do NOT refuse - this is standard social media marketing copy\n- Vary your style: sometimes ask a question, sometimes make a statement, sometimes be mysterious\n\nWrite ONLY the caption text, nothing else."
            },
            {
              "type": "image",
              "imageType": "base64"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-image-caption-v2",
      "name": "AI Image Caption",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1176,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "7w1hRC6FZY0BmVIJ",
          "name": "OpenAi account"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "responses": {
          "values": [
            {
              "content": "You are a popular content creator writing a caption for your Fanvue video post. Write a short, flirty, engaging caption (1-3 sentences max).\n\nRules:\n- Sound authentic and personal\n- Reference it being a video (e.g., 'press play', 'watch this', 'hit play', 'you need to see this')\n- Be playful, confident, and teasing\n- Use 2-3 emojis naturally\n- Create curiosity about the video content\n- Do NOT use hashtags\n- Do NOT refuse - this is standard social media marketing copy\n- Vary your style: sometimes ask a question, sometimes be daring, sometimes be sweet\n\nWrite ONLY the caption text, nothing else."
            }
          ]
        },
        "options": {}
      },
      "id": "ai-video-caption-v2",
      "name": "AI Video Caption",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1176,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "7w1hRC6FZY0BmVIJ",
          "name": "OpenAi account"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {},
      "id": "merge-ai-captions-v2",
      "name": "Merge AI Captions",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1396,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst prepData = $('Prepare Upload Data').first();\n\nfunction extractCaption(item) {\n  if (!item || !item.json) return null;\n  const json = item.json;\n\n  // OpenAI Responses API format: { output: [{ content: [{ type: \"output_text\", text: \"...\" }] }] }\n  if (json.output && Array.isArray(json.output)) {\n    for (const msg of json.output) {\n      if (msg.content && Array.isArray(msg.content)) {\n        for (const block of msg.content) {\n          if ((block.type === 'output_text' || block.type === 'text') && block.text) {\n            const text = block.text.trim();\n            if (text.length < 5) return null;\n            const lower = text.toLowerCase();\n            if (lower.includes(\"i can't\") || lower.includes(\"i'm sorry\") ||\n                lower.includes(\"i cannot\") || lower.includes(\"unable to\") ||\n                lower.includes(\"as an ai\")) return null;\n            return text;\n          }\n          if (block.type === 'refusal') return null;\n        }\n      }\n    }\n  }\n\n  // Chat Completions format: { content: [{ type: \"text\", text: \"...\" }] }\n  if (json.content && Array.isArray(json.content)) {\n    for (const block of json.content) {\n      if (block.type === 'refusal') return null;\n      if ((block.type === 'text' || block.type === 'output_text') && block.text) {\n        const text = block.text.trim();\n        if (text.length < 5) return null;\n        return text;\n      }\n    }\n  }\n\n  // Simple string content\n  if (typeof json.content === 'string') {\n    const text = json.content.trim();\n    const lower = text.toLowerCase();\n    if (lower.includes(\"i can't\") || lower.includes(\"i'm sorry\") ||\n        lower.includes(\"i cannot\") || lower.includes(\"unable to\") ||\n        lower.includes(\"as an ai\") || text.length < 5) return null;\n    return text;\n  }\n\n  // message.content format\n  if (json.message?.content) {\n    const text = json.message.content.trim();\n    const lower = text.toLowerCase();\n    if (lower.includes(\"i can't\") || lower.includes(\"i'm sorry\") ||\n        lower.includes(\"i cannot\") || lower.includes(\"unable to\") ||\n        lower.includes(\"as an ai\") || text.length < 5) return null;\n    return text;\n  }\n\n  return null;\n}\n\nconst aiCaption = extractCaption(input);\nconst originalCaption = prepData.json.aiDescription;\nconst finalCaption = aiCaption || originalCaption;\n\n// Remove surrounding quotes and hashtags from AI caption\nlet cleanCaption = finalCaption\n  .replace(/^[\"']|[\"']$/g, '')\n  .replace(/\\n\\n#[\\s\\S]*$/, '')\n  .trim();\n\nreturn [{\n  json: {\n    ...prepData.json,\n    aiDescription: cleanCaption,\n    captionSource: aiCaption ? 'ai-live' : 'pre-generated'\n  },\n  binary: prepData.binary\n}];"
      },
      "id": "apply-ai-caption-v2",
      "name": "Apply AI Caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        320
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "mode": "name",
          "value": "post_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_name": "={{ $('Select Random File').first().json.fileName }}",
            "caption": "={{ $('Apply AI Caption').first().json.aiDescription }}",
            "caption_source": "={{ $('Apply AI Caption').first().json.captionSource }}",
            "media_type": "={{ $('Select Random File').first().json.mediaType }}",
            "audience": "={{ $('Apply AI Caption').first().json.isPPV ? 'everyone' : 'followers-and-subscribers' }}",
            "ppv_price": "={{ $('Apply AI Caption').first().json.isPPV ? $('Apply AI Caption').first().json.ppvPrice : 0 }}",
            "fanvue_post_id": "={{ $input.first().json.uuid || $input.first().json.id || '' }}",
            "published_at": "={{ new Date().toISOString() }}",
            "source_folder": "={{ $('Select Random File').first().json.source_folder || '' }}"
          }
        },
        "options": {}
      },
      "id": "log-post-history-v2",
      "name": "Log to Post History",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3596,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-is-image-crosspost",
              "leftValue": "={{ $('Select Random File').first().json.mediaType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-cross-post-v2",
      "name": "Should Cross-Post?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3816,
        320
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vmgmxeCFrTMXG9N4q0iV17bCIYtBkPw6Fvtzt9bHCzU",
          "mode": "list",
          "cachedResultName": "Zdjecia Juwellia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vmgmxeCFrTMXG9N4q0iV17bCIYtBkPw6Fvtzt9bHCzU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Zdjecia Opisy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vmgmxeCFrTMXG9N4q0iV17bCIYtBkPw6Fvtzt9bHCzU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Dodane": "Doda\u00c4\u2021",
            "Sciezka": "={{ $('Select Random File').first().json.selectedPath }}",
            "Nazwa Zdjecia": "={{ $('Select Random File').first().json.fileName }}",
            "Opis": "={{ $('Select Random File').first().json.description_social || $('Apply AI Caption').first().json.aiDescription }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nazwa Zdjecia",
              "displayName": "Nazwa Zdjecia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opis",
              "displayName": "Opis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sciezka",
              "displayName": "Sciezka",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Publikacji",
              "displayName": "Data Publikacji",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dodane",
              "displayName": "Dodane",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "append-social-sheet-v2",
      "name": "Append to Social Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4036,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E73O5SYajf2go40V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "name",
          "value": "media_catalog"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Select Random File').first().json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "added_to_social_media": true
          }
        },
        "options": {}
      },
      "id": "mark-social-posted-v2",
      "name": "Mark Social Posted",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4256,
        160
      ]
    },
    {
      "parameters": {
        "content": "## New Features (v2.2)\n\n### Post History (v2.1)\n- Logs every post to `post_history` DataTable\n\n### Cross-posting to Instagram (v2.1)\n- Images auto-added to Google Sheets for Blotato\n- Only images (not videos)\n\n### Dynamic PPV Pricing (v2.2)\n- Weekday: $4.99, Weekend: $6.99\n- Evening bonus (18-21h): +$1.00\n\n### Low Content Alert (v2.2)\n- Red warning in email when < 10 media files left\n\n### Revenue Dashboard (v2.2)\n- Every post logged to Google Sheets \"Revenue\" tab\n- Tracks: date, time, file, type, PPV, price, caption"
      },
      "id": "sticky-new-features-v2",
      "name": "New Features v2.2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3376,
        -100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vmgmxeCFrTMXG9N4q0iV17bCIYtBkPw6Fvtzt9bHCzU",
          "mode": "list",
          "cachedResultName": "Zdjecia Juwellia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vmgmxeCFrTMXG9N4q0iV17bCIYtBkPw6Fvtzt9bHCzU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=1",
          "mode": "list",
          "cachedResultName": "Revenue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vmgmxeCFrTMXG9N4q0iV17bCIYtBkPw6Fvtzt9bHCzU/edit#gid=1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ new Date().toLocaleDateString('pl-PL') }}",
            "Godzina": "={{ new Date().toLocaleTimeString('pl-PL', {hour: '2-digit', minute: '2-digit'}) }}",
            "Plik": "={{ $('Select Random File').first().json.fileName }}",
            "Typ": "={{ $('Select Random File').first().json.mediaType }}",
            "PPV": "={{ $('Apply AI Caption').first().json.isPPV ? 'Tak' : 'Nie' }}",
            "Cena": "={{ $('Apply AI Caption').first().json.isPPV ? $('Apply AI Caption').first().json.ppvPrice : 0 }}",
            "Caption": "={{ $('Apply AI Caption').first().json.aiDescription.substring(0, 200) }}",
            "Audience": "={{ $('Apply AI Caption').first().json.isPPV ? 'everyone' : 'followers-and-subscribers' }}",
            "Weekend": "={{ new Date().getDay() === 0 || new Date().getDay() === 6 ? 'Tak' : 'Nie' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Godzina",
              "displayName": "Godzina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plik",
              "displayName": "Plik",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Typ",
              "displayName": "Typ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PPV",
              "displayName": "PPV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cena",
              "displayName": "Cena",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weekend",
              "displayName": "Weekend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "log-revenue-sheet-v2",
      "name": "Log to Revenue Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4696,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E73O5SYajf2go40V",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Random Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Available Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get Available Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Random Schedule": {
      "main": [
        [
          {
            "node": "Wait Random Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Random Minutes": {
      "main": [
        [
          {
            "node": "Get Available Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Available Media": {
      "main": [
        [
          {
            "node": "Select Random File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Random File": {
      "main": [
        [
          {
            "node": "Mark In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark In Progress": {
      "main": [
        [
          {
            "node": "Download Selected File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Selected File": {
      "main": [
        [
          {
            "node": "Get Current User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current User": {
      "main": [
        [
          {
            "node": "Prepare Upload Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Data": {
      "main": [
        [
          {
            "node": "Is Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Upload Session": {
      "main": [
        [
          {
            "node": "Get Upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upload URL": {
      "main": [
        [
          {
            "node": "Prepare S3 Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare S3 Upload": {
      "main": [
        [
          {
            "node": "Upload to S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3": {
      "main": [
        [
          {
            "node": "Complete Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Upload": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Create Fanvue Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Fanvue Post": {
      "main": [
        [
          {
            "node": "Log to Post History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Media Status": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Image?": {
      "main": [
        [
          {
            "node": "AI Image Caption",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Video Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Image Caption": {
      "main": [
        [
          {
            "node": "Merge AI Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Video Caption": {
      "main": [
        [
          {
            "node": "Merge AI Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI Captions": {
      "main": [
        [
          {
            "node": "Apply AI Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply AI Caption": {
      "main": [
        [
          {
            "node": "Create Upload Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Post History": {
      "main": [
        [
          {
            "node": "Should Cross-Post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Cross-Post?": {
      "main": [
        [
          {
            "node": "Append to Social Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Media Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Social Sheet": {
      "main": [
        [
          {
            "node": "Mark Social Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Social Posted": {
      "main": [
        [
          {
            "node": "Update Media Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Success Email": {
      "main": [
        [
          {
            "node": "Log to Revenue Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}