fanvue-weekly-digest.json
{
  "name": "Fanvue Weekly Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        320
      ],
      "id": "weekly-schedule",
      "name": "Weekly Monday 9AM"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fanvue-weekly-digest",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        120
      ],
      "id": "webhook-digest",
      "name": "Webhook Trigger",
      "webhookId": "fanvue-weekly-digest-wh"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "name",
          "value": "post_history"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        280,
        320
      ],
      "id": "get-post-history",
      "name": "Get Post History",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "name",
          "value": "media_catalog"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        500,
        320
      ],
      "id": "get-media-catalog",
      "name": "Get Media Catalog",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Get all post history items\nconst allPosts = $('Get Post History').all();\nconst allMedia = $('Get Media Catalog').all();\n\n// Calculate date range (last 7 days)\nconst now = new Date();\nconst weekAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n\n// Filter posts from last 7 days\nconst weekPosts = allPosts.filter(p => {\n  const publishedAt = new Date(p.json.published_at);\n  return publishedAt >= weekAgo;\n});\n\n// === FANVUE STATS ===\nconst fanvuePosts = weekPosts.filter(p => p.json.caption_source !== 'social_media_blotato');\nconst remainingFanvue = allMedia.filter(m => m.json.source_folder === 'nsfw' && m.json.added_to_fanvue === false).length;\n\nconst totalPosts = fanvuePosts.length;\nconst imagePosts = fanvuePosts.filter(p => p.json.media_type === 'image').length;\nconst videoPosts = fanvuePosts.filter(p => p.json.media_type === 'video').length;\nconst ppvPosts = fanvuePosts.filter(p => p.json.ppv_price > 0);\nconst ppvCount = ppvPosts.length;\nconst ppvRevenuePotential = ppvPosts.reduce((sum, p) => sum + (parseFloat(p.json.ppv_price) || 0), 0);\nconst aiCaptions = fanvuePosts.filter(p => p.json.caption_source === 'ai-live').length;\nconst preGenCaptions = fanvuePosts.filter(p => p.json.caption_source === 'pre-generated').length;\n\n// Fanvue posts per day breakdown\nconst dayNames = ['Nd', 'Pn', 'Wt', 'Sr', 'Cz', 'Pt', 'Sb'];\nconst postsByDay = {};\nfor (const p of fanvuePosts) {\n  const d = new Date(p.json.published_at);\n  const dayKey = `${dayNames[d.getDay()]} ${d.getDate()}.${(d.getMonth()+1).toString().padStart(2,'0')}`;\n  postsByDay[dayKey] = (postsByDay[dayKey] || 0) + 1;\n}\n\nlet dayBreakdownHtml = '';\nfor (const [day, count] of Object.entries(postsByDay)) {\n  dayBreakdownHtml += `<tr><td style=\"padding: 6px 12px; border: 1px solid #ddd;\">${day}</td><td style=\"padding: 6px 12px; border: 1px solid #ddd; text-align: center;\">${count}</td></tr>`;\n}\n\n// Fanvue recent posts (last 5)\nconst recentPosts = fanvuePosts\n  .sort((a, b) => new Date(b.json.published_at) - new Date(a.json.published_at))\n  .slice(0, 5);\n\nlet recentPostsHtml = '';\nfor (const p of recentPosts) {\n  const d = new Date(p.json.published_at);\n  const dateStr = d.toLocaleDateString('pl-PL');\n  const ppvLabel = p.json.ppv_price > 0 ? `PPV $${p.json.ppv_price}` : 'FREE';\n  const caption = (p.json.caption || '').substring(0, 80);\n  recentPostsHtml += `<tr><td style=\"padding: 6px; border: 1px solid #ddd; font-size: 12px;\">${dateStr}</td><td style=\"padding: 6px; border: 1px solid #ddd; font-size: 12px;\">${p.json.file_name || '-'}</td><td style=\"padding: 6px; border: 1px solid #ddd; font-size: 12px;\">${ppvLabel}</td><td style=\"padding: 6px; border: 1px solid #ddd; font-size: 12px;\">${caption}...</td></tr>`;\n}\n\n// Fanvue days until empty\nconst avgFanvuePerDay = totalPosts > 0 ? totalPosts / 7 : 2;\nconst fanvueDaysUntilEmpty = avgFanvuePerDay > 0 ? Math.floor(remainingFanvue / avgFanvuePerDay) : 999;\n\n// === SOCIAL MEDIA STATS ===\nconst smPosts = weekPosts.filter(p => p.json.caption_source === 'social_media_blotato');\nconst smTotal = smPosts.length;\nconst smImages = smPosts.filter(p => (p.json.media_type || '').includes('image')).length;\nconst smVideos = smPosts.filter(p => (p.json.media_type || '').includes('video')).length;\nconst remainingSocialMedia = allMedia.filter(m => m.json.source_folder === 'socialmedia' && m.json.added_to_social_media === false).length;\n\n// Social media posts per day\nconst smByDay = {};\nfor (const p of smPosts) {\n  const d = new Date(p.json.published_at);\n  const dayKey = `${dayNames[d.getDay()]} ${d.getDate()}.${(d.getMonth()+1).toString().padStart(2,'0')}`;\n  smByDay[dayKey] = (smByDay[dayKey] || 0) + 1;\n}\n\nlet smDayBreakdownHtml = '';\nfor (const [day, count] of Object.entries(smByDay)) {\n  smDayBreakdownHtml += `<tr><td style=\"padding: 6px 12px; border: 1px solid #ddd;\">${day}</td><td style=\"padding: 6px 12px; border: 1px solid #ddd; text-align: center;\">${count}</td></tr>`;\n}\n\n// Social media recent posts (last 5)\nconst smRecent = smPosts\n  .sort((a, b) => new Date(b.json.published_at) - new Date(a.json.published_at))\n  .slice(0, 5);\n\nlet smRecentHtml = '';\nfor (const p of smRecent) {\n  const d = new Date(p.json.published_at);\n  const dateStr = d.toLocaleDateString('pl-PL');\n  const type = (p.json.media_type || 'image');\n  const caption = (p.json.caption || '').substring(0, 80);\n  smRecentHtml += `<tr><td style=\"padding: 6px; border: 1px solid #ddd; font-size: 12px;\">${dateStr}</td><td style=\"padding: 6px; border: 1px solid #ddd; font-size: 12px;\">${p.json.file_name || '-'}</td><td style=\"padding: 6px; border: 1px solid #ddd; font-size: 12px;\">${type}</td><td style=\"padding: 6px; border: 1px solid #ddd; font-size: 12px;\">${caption}...</td></tr>`;\n}\n\n// Social media days until empty\nconst avgSmPerDay = smTotal > 0 ? smTotal / 7 : 1;\nconst smDaysUntilEmpty = avgSmPerDay > 0 ? Math.floor(remainingSocialMedia / avgSmPerDay) : 999;\n\n// Content warnings\nconst fanvueWarning = remainingFanvue < 10\n  ? `<div style=\"margin-top: 12px; padding: 12px; background: #ffcccc; border: 2px solid #cc0000; border-radius: 8px; text-align: center;\"><strong style=\"color: #cc0000;\">UWAGA: Fanvue - pozostalo tylko ${remainingFanvue} plikow! Dodaj wiecej contentu do Dropbox.</strong></div>`\n  : '';\nconst smWarning = remainingSocialMedia < 10\n  ? `<div style=\"margin-top: 12px; padding: 12px; background: #ffcccc; border: 2px solid #cc0000; border-radius: 8px; text-align: center;\"><strong style=\"color: #cc0000;\">UWAGA: Social Media - pozostalo tylko ${remainingSocialMedia} plikow! Dodaj wiecej contentu do Dropbox.</strong></div>`\n  : '';\n\nreturn [{\n  json: {\n    // Fanvue\n    totalPosts,\n    imagePosts,\n    videoPosts,\n    ppvCount,\n    ppvRevenuePotential: ppvRevenuePotential.toFixed(2),\n    aiCaptions,\n    preGenCaptions,\n    remainingFanvue,\n    fanvueDaysUntilEmpty,\n    dayBreakdownHtml,\n    recentPostsHtml,\n    // Social Media\n    smTotal,\n    smImages,\n    smVideos,\n    remainingSocialMedia,\n    smDaysUntilEmpty,\n    smDayBreakdownHtml,\n    smRecentHtml,\n    // General\n    totalMedia: allMedia.length,\n    contentWarning: fanvueWarning + smWarning,\n    weekStart: weekAgo.toLocaleDateString('pl-PL'),\n    weekEnd: now.toLocaleDateString('pl-PL')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        320
      ],
      "id": "calculate-stats",
      "name": "Calculate Weekly Stats"
    },
    {
      "parameters": {
        "sendTo": "marcinjarosz@icloud.com",
        "subject": "=Weekly Digest | {{ $json.weekStart }} - {{ $json.weekEnd }} | Fanvue: {{ $json.totalPosts }} | Social: {{ $json.smTotal }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n<h2 style=\"color: #6c5ce7;\">Fanvue Weekly Digest</h2>\n<p style=\"color: #666;\">{{ $json.weekStart }} - {{ $json.weekEnd }}</p>\n\n<h3 style=\"color: #6c5ce7;\">Fanvue</h3>\n<table style=\"border-collapse: collapse; width: 100%;\">\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Posty w tym tygodniu</strong></td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center; font-size: 20px;\"><strong>{{ $json.totalPosts }}</strong></td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\">Zdjecia</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">{{ $json.imagePosts }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\">Filmy</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">{{ $json.videoPosts }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\">PPV posty</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">{{ $json.ppvCount }}</td></tr>\n<tr style=\"background: #f0f0f0;\"><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Potencjalny przychod PPV</strong></td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center; font-size: 18px;\"><strong>${{ $json.ppvRevenuePotential }}</strong></td></tr>\n</table>\n\n<h3>Captiony Fanvue</h3>\n<table style=\"border-collapse: collapse; width: 100%;\">\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\">AI live (GPT-4o)</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">{{ $json.aiCaptions }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\">Pre-generated</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">{{ $json.preGenCaptions }}</td></tr>\n</table>\n\n<h3>Fanvue - posty wg dnia</h3>\n<table style=\"border-collapse: collapse; width: 100%;\">\n<tr style=\"background: #6c5ce7; color: white;\"><th style=\"padding: 6px 12px; border: 1px solid #ddd;\">Dzien</th><th style=\"padding: 6px 12px; border: 1px solid #ddd;\">Posty</th></tr>\n{{ $json.dayBreakdownHtml }}\n</table>\n\n<h3>Fanvue - ostatnie posty</h3>\n<table style=\"border-collapse: collapse; width: 100%; font-size: 12px;\">\n<tr style=\"background: #ddd;\"><th style=\"padding: 6px;\">Data</th><th style=\"padding: 6px;\">Plik</th><th style=\"padding: 6px;\">Typ</th><th style=\"padding: 6px;\">Caption</th></tr>\n{{ $json.recentPostsHtml }}\n</table>\n\n<hr style=\"border: 1px solid #eee; margin: 24px 0;\">\n\n<h3 style=\"color: #e17055;\">Social Media (IG + X)</h3>\n<table style=\"border-collapse: collapse; width: 100%;\">\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Posty w tym tygodniu</strong></td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center; font-size: 20px;\"><strong>{{ $json.smTotal }}</strong></td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\">Zdjecia (posty)</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">{{ $json.smImages }}</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\">Filmy (reels)</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">{{ $json.smVideos }}</td></tr>\n</table>\n\n<h3>Social Media - posty wg dnia</h3>\n<table style=\"border-collapse: collapse; width: 100%;\">\n<tr style=\"background: #e17055; color: white;\"><th style=\"padding: 6px 12px; border: 1px solid #ddd;\">Dzien</th><th style=\"padding: 6px 12px; border: 1px solid #ddd;\">Posty</th></tr>\n{{ $json.smDayBreakdownHtml }}\n</table>\n\n<h3>Social Media - ostatnie posty</h3>\n<table style=\"border-collapse: collapse; width: 100%; font-size: 12px;\">\n<tr style=\"background: #ddd;\"><th style=\"padding: 6px;\">Data</th><th style=\"padding: 6px;\">Plik</th><th style=\"padding: 6px;\">Typ</th><th style=\"padding: 6px;\">Caption</th></tr>\n{{ $json.smRecentHtml }}\n</table>\n\n<hr style=\"border: 1px solid #eee; margin: 24px 0;\">\n\n<h3>Content Status</h3>\n<table style=\"border-collapse: collapse; width: 100%;\">\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\">Fanvue - pozostale media</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\"><strong>{{ $json.remainingFanvue }}</strong> (~{{ $json.fanvueDaysUntilEmpty }} dni)</td></tr>\n<tr><td style=\"padding: 8px; border: 1px solid #ddd;\">Social Media - pozostale media</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\"><strong>{{ $json.remainingSocialMedia }}</strong> (~{{ $json.smDaysUntilEmpty }} dni)</td></tr>\n<tr style=\"background: #f0f0f0;\"><td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Lacznie w katalogu</strong></td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\"><strong>{{ $json.totalMedia }}</strong></td></tr>\n</table>\n\n{{ $json.contentWarning }}\n\n<p style=\"color: #999; font-size: 11px; margin-top: 20px;\">Wygenerowane automatycznie przez Fanvue Auto Post System</p>\n</div>",
        "options": {}
      },
      "id": "send-digest-email",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        940,
        320
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "vegX3gKBXTfZVtRg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Fanvue + Social Media Weekly Digest\n\nWysyla co poniedzialek o 9:00 email z podsumowaniem:\n\n### Fanvue:\n- Ile postow, zdjecia vs filmy, PPV\n- Captiony AI vs pre-generated\n- Posty wg dnia, ostatnie 5\n\n### Social Media (IG + X via Blotato):\n- Ile postow na social media\n- Zdjecia (posty) vs filmy (reels)\n- Posty wg dnia, ostatnie 5\n\n### Content Status:\n- Pozostale media Fanvue + Social Media\n- Szacunkowe dni do wyczerpania\n- Ostrzezenia gdy < 10 plikow\n\nMozna tez wywolac recznie: POST /webhook/fanvue-weekly-digest"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ],
      "id": "sticky-digest-info",
      "name": "Info"
    }
  ],
  "connections": {
    "Weekly Monday 9AM": {
      "main": [
        [
          {
            "node": "Get Post History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Post History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post History": {
      "main": [
        [
          {
            "node": "Get Media Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Media Catalog": {
      "main": [
        [
          {
            "node": "Calculate Weekly Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Weekly Stats": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}